<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="com.ed.utils.TestListener" />
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ed.test.LoginFlow.Login"/>
      <class name="com.ed.test.productFlow.MenuDisplay"/>
      <class name="com.ed.test.productFlow.ProductWorkFlow"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
